@import "tailwindcss";

@theme {
    --color-primary: #3364f3;
    --color-secondary: #f3f5f7;
}

html {
    scroll-behavior: smooth;
}

.responsive-px {
    @apply w-full px-6 md:px-20 lg:px-24;
}

.responsive-py {
    @apply py-8 md:py-14;
}
